<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.any.org.rxviewmodel" >



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name="debug.RxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".TwoActivity"/>
    </application>


<!--        <provider-->
<!--            android:name=".app.AppContentProvider"-->
<!--            android:authorities="com.any.org.eanewsmudle.app.provider"-->
<!--            android:grantUriPermissions="false"-->
<!--            android:exported="false" >-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/filepaths" />-->
<!--        </provider>-->

<!--    </application>-->

</manifest>
