<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.any.org.eanewsmudle">


    <application>

        <provider
            android:name=".app.AppContentProvider"
            android:authorities="com.any.org.eanewsmudle.app.provider"
            android:exported="false" />

        <activity android:name=".ui.AMainActivity" />

    </application>

</manifest>
